* {
    font-family: Poppins;
}

.custom-section-wrapper h1 {
    font-weight: 700;
    font-size: 48px;
}

.hs-error-msg {
    color: red;
    padding-left: 5px;
}

.hs-button {
    margin-top: 30px!important;
}

.contact-row .custom-col.col-right {
    padding-right: 0;
    text-align: right;
}

.sunday-header-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    width: 80%;
    margin: 0 auto;
}

.sunday-header-wrapper img {
    max-width: 150px;
    margin: 10px auto 10px auto;
}

.grey-tag {
    display: flex;
    padding: 13px 23px;
    border-radius: 6px!important;
    background-color: var(--light-grey)!important;
    color: var(--black);
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 1;
    font-weight: 700;
    margin: 10px;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    transition: all .25s ease-in-out;
}

.custom-row.custom-flex-row.margin-t-0.margin-b-0 .custom-col.text-left .design-brief {
    text-align: left;
    padding-left: 30px;
}

.margin-0 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}

.on-sunday-img {
    width: 500px;
    height: auto;
}

.margin-0 .custom-col {
    padding: 0;
}

.custom-col.padding-right-0 {
    padding-right: 0;
}

.custom-col.padding-left-0 {
    padding-left: 0;
}

.related-cases-wrapper .cases-btn {
    width: fit-content;
    display: flex;
    padding: 13px 23px;
    border-radius: 6px!important;
    background-color: var(--black)!important;
    color: var(--white);
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px auto 30px auto;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    transition: all .25s ease-in-out;
}

.related-cases-wrapper .cases-btn {
    transition: all .25s ease-in-out;
}

.related-cases-wrapper .cases-btn:hover {
    background-color: var(--purple);
    text-decoration: none;
    transform: scale(1.10);
    transition: all .25s ease-in-out;
}

.cta-section-btn:hover {
    background-color: var(--black);
    text-decoration: none;
    transform: scale(1.10);
    transition: all .25s ease-in-out;
}

.tags-wrapper-content {
    display: flex;
    align-items: center;
}

.tags-content-title {
    font-weight: 700;
    color: var(--black);
    width: 100px;
    text-align: left !important;
}

.tags-wrapper {
    padding-left: 30px;
    margin-top: 20px;
}

.pantone-colors-row {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 80%;
    padding: 30px 20px 10px 20px;
}

.pantone-colors-row img {
    max-width: 125px;
    height: auto;
    margin: 0 auto;
}
.custom-row.custom-flex-row.related-cases {
    width: 85%;
}

.related-cases-wrapper {
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto 40px auto;
    border-radius: 6px;
}

.related-cases-wrapper .logo-img,
.related-cases-wrapper h4,
.related-cases-wrapper p {
    padding: 0 20px;
}

.related-cases-wrapper .featured-img {
    width: 600px;
    height: auto;
    margin-bottom: 20px;
}

.related-cases-wrapper .logo-img {
    max-width: 175px;
    width: auto;
    max-height: 50px;
    height: auto;
    margin: 0 auto;
}

.related-cases-wrapper h4 {
    font-family: Poppins;
    font-size: 18px;
    margin-bottom: 20px;
}

.related-cases-wrapper p {
    font-size: 14px;
    margin-bottom: 20px;
}

.custom-section-wrapper {
    width: 80%;
    margin: 0 auto 0 auto;
    background-color: var(--white);
    border-radius: 6px;
    box-shadow: 0 30px 50px 0 rgb(36 50 66 / 10%);
}
.header-logo-row {
    margin: 0!important;
}
.custom-row {
    margin: 60px auto 60px auto;
    background-color: var(--white);
}
.custom-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.two-col-row .custom-col {
    width: 50%;
    text-align: center;
}
.custom-col {
    padding: 0px 15px 0px 15px;
    text-align: center;
}
.custom-section-wrapper h2,
.custom-section-wrapper h3,
.custom-section-wrapper p {
    font-family: Poppins;
    text-align: center;
}

.custom-section-wrapper h2,
.custom-section-wrapper h3 {
    font-weight: 700;
    margin-bottom: 16px;
}
.custom-section-wrapper h2 {
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: 30px;
}
.custom-section-wrapper h3 {
    font-size: 28px;
}
.custom-col.left-content p {
    text-align: left!important;
}

.margin-t-0 {
    margin-top: 0;
}

.margin-b-0 {
    margin-bottom: 0;
}

.custom-row.custom-flex-row.row-reverse {
    flex-direction: row-reverse;
}

.custom-flex-row.flex-col {
    flex-direction: column;
}

.cta-section-wrapper {
    width: 75%;
    margin: 30px auto!important;
}

.hidden {
    display: none!important;
}

.contact-row {
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 860px) {
    .custom-section-wrapper {
        width: 90%;
    }
    .related-cases .custom-col {
        width: 100%;
    }
    .custom-col {
        padding: 0px 10px 0px 10px;
        flex: 1 0;
        width: 50%;
    }
    .custom-section-wrapper h3 {
        font-size: 14px;
    }
    .related-cases-wrapper {
        max-width: 100%;
    }
    .pantone-colors-row {
        width: 95%;
    }
    .pantone-colors-row img {
        max-width: 60px;
    }
    .cta-section-wrapper {
        width: 90%;
    }
    .custom-row.custom-flex-row.related-cases {
        width: 85%;
        margin: 0 auto;
        flex-direction: column;
    }
    .custom-flex-row {
        flex-wrap: wrap;
    }
}
@media all and (max-width: 540px) {
    .custom-section-wrapper h1 {
        font-size: 36px;
    }      

    .custom-section-wrapper {
        width: 100%;
    }
    .custom-col {
        flex-basis: 100%;
        margin: 20px 0px 20px 0px;
    }
    .custom-col:first-child,
    .custom-col:last-child {
        margin: 0px;
    }
    .custom-flex-row {
        flex-wrap: wrap;
    }
    .custom-row.custom-flex-row.margin-t-0.margin-b-0 .custom-col.text-left .design-brief {
        padding-left: 10px;
    }
    .tags-wrapper {
        max-width: 100%;
        padding: 0 10px;
        margin: 20px auto;
    }
    .tags-wrapper-content {
        flex-wrap: wrap;
    }
    .tags-content-title {
        font-size: 12px;
        width: auto;
    }
    .grey-tag {
        padding: 10px;
        margin: 10px;
    }
    .custom-col.padding-right-0 {
        padding-left: 0px;
    }
    .custom-col.padding-left-0 {
        padding-right: 0px;
    }
    .on-sunday-img {
        width: 200px;
    }
    h2,
    h3,
    h4 {
        margin: 20px auto;
    }
    .custom-section-wrapper h2 {
        font-size: 20px;
    }
    .pantone-colors-row img {
        margin-right: 20px;
        margin-left: 20px;
}
}

/* Footer styling */
.print-footer-wrapper {
    background-color: var(--black);
    width: 100%;
    height: auto;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 60%;
    font-family: Poppins;
    margin: 0 auto;
}

.footer-content .sunday-logo {
    width: 125px;
    height: auto;
}

.footer-content .col {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 30px auto;
}

.footer-content h4 {
    color: var(--white);
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-content a {
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    width: fit-content;
    transition: all .25s ease-in-out;
}

.footer-content a:hover {
    text-decoration: underline;
    transition: all .25s ease-in-out;
}


.footer-content .socials-icons .socials-icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-content .socials-icons .socials-icons-wrapper img {
    max-width: 30px;
    margin: 0 10px;
    transition: all .25s ease-in-out;
}

.footer-content .socials-icons .socials-icons-wrapper img:first-child {
    margin-left: 0px;
}


.footer-content .socials-icons .socials-icons-wrapper img:hover {
    transform: scale(1.10);
    transition: all .25s ease-in-out;
}

@media all and (max-width: 540px) {
    .footer-content {
        flex-direction: column;
    }
    .footer-content .col {
        width: 100%;
        margin: 10px auto;
    }
}

@media all and (max-width: 860px) {
    .footer-content {
        width: 90%;
    }
    .footer-content h4 {
        font-size: 16px;
    }
    .footer-content a {
        font-size: 12px;
    }
}