* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;
    line-height: 1.8;
}

#hero-section {
    background-color: var(--blue);
    color: var(--white);
}

#hero-section .custom-row {
    margin-top: 0;
    padding: 60px 0;
}

#hero-section .custom-row h1 {
    color: var(--white);
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    font-family: Poppins;
}

#client-logos .custom-row {
    margin: 0 auto;
    padding: 0;
}

.custom-section-full h2 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 36px;
}

.custom-section-full h3 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 26px;
}

.custom-section-full h2.heading-lg {
    font-size: 50px;
}

.custom-section-full ._form-content ._checkbox-radio {
    color: var(--black)!important;
}

.custom-section-full.background-grey {
    background-color: var(--light-grey);
}

.custom-section-full .strength-wrapper {
    background-color: var(--white);
    color: var(--black);
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    margin: 0 20px;
}

.custom-section-full .strength-wrapper h3 {
    margin-bottom: 15px;
}

#contact-section {
    background-color: var(--white);
    color: var(--black);
}

#contact-section ul li::before {
    color: var(--purple);
}

#contact-section .custom-row,
#faq .custom-row {
    margin: 0 auto;
}

.custom-section-full .client-logos-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;
    z-index: 3;
    justify-content: center;
}

.custom-section-full .client-logos-wrapper img {
    flex: 1 1 auto;
    max-width: 160px;
    height: auto;
    margin: 10px 20px;
}

.contact-person-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

.contact-person-wrapper .contact-person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-person-wrapper .contact-person:nth-child(1) {
    margin-right: 20px;
}

.contact-person-wrapper .contact-person img {
    border-radius: 50%;
    max-width: 140px;
    margin-bottom: 10px;
}

#contact-section ._form-content ._checkbox-radio {
    color: var(--black)!important;
}

@media all and (max-width: 540px) {
    .custom-section-full .client-logos-wrapper {
        max-width: 100%;
    }

    .custom-section-full .client-logos-wrapper img {
        max-width: 80px;
    }
}


.client-collections-wrapper {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    position: relative;
}

.client-collections-wrapper .collections-title {
    font-size: 30px;
    color: var(--white);
    text-shadow: 3px 3px 2px var(--black);
    position: absolute;
    right: 5px;
    bottom: 5px;
    transition: var(--transition);
}

.client-collections-wrapper .collections-title:hover {
    transform: scale(1.10);
    transition: var(--transition);
}





.vce-row[data-vce-stretch-content=true] {
    padding: 0!important;
}

.custom-section-full {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    background-color: transparent;
}

.custom-section-full .custom-row {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 40px 0;
    background-color: transparent;
}

.custom-section-full .custom-row.row-reverse {
    flex-direction: row-reverse;
}

.custom-section-full .custom-row.flex-col {
    flex-direction: column;
}

.custom-section-full .custom-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 30px;
}

.center-content {
    text-align: center;
}

.custom-section-full .custom-row .custom-btn {
    display: flex;
    max-width: fit-content;
    margin: 20px 0;
    padding: 13px 23px;
    border-radius: 6px;
    background-color: var(--purple)!important;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
    cursor: pointer;
    transition: var(--transition);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-section-full .custom-row .custom-btn:hover {
    background-color: var(--black)!important;
    transition: var(--transition);
    transform: scale(1.05);
}

.small-headline {
    color: var(--dark-grey)!important;
    font-size: 14px;
    text-transform: uppercase;
}

.custom-section-full a {
    font-size: 14px;
    font-weight: 700;
    transition: var(--transition);
}

.custom-section-full a:hover {
    transition: var(--transition);
}

.custom-section-full img {
    max-width: 600px;
    height: auto;
}

.custom-section-full.contact-section .contact-person-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.custom-section-full.contact-section img {
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.custom-section-full.contact-section .contact-person {
    text-align: center;
}

.custom-section-full.contact-section .contact-person p {
    font-weight: 700;
    font-size: 12px;
}

.custom-section-full.contact-section .contact-person:nth-child(1) {
    margin-right: 15px;
}

.custom-section-full.contact-section .contact-person:nth-child(2) {
    margin-left: 15px;
}

/* ACCORDION */
.accordion-container {
    position: relative;
    width: 100%;
    border-top: none;
    outline: 0;
    cursor: pointer;
    font-family: Poppins;
}

.accordion-container .article-title {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.625em 0.625em 0.625em 2em;
    font-size: 18px;
    font-weight: normal;
    color: var(--black);
    font-weight: 700;
    cursor: pointer;
}

.accordion-container .article-title:nth-child(1) {
    border-top: transparent;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
    color: var(--blue);
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
    color: var(--blue);
}

.accordion-container .content-entry i {
    position: absolute;
    top: 3px;
    left: 12px;
    font-style: normal;
    font-size: 24px;
    color: var(--black);
}

.accordion-container .content-entry i:before {
    content: "+ ";
}

.accordion-container .content-entry.open i:before {
    content: "- ";
}

.accordion-container .content-entry:first-child {
    border-bottom: none;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
}

.accordion-container .content-entry:last-child {
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

.accordion-content {
    display: none;
    padding-left: 2.3125em;
}

.accordion-content.open {
    display: block;
}

#content {
    width: 100%;
    margin-left: 0!important;
}

#accordion {
    margin-top: 0;
    margin-left: 0!important;
}

.accordion-container,
#description {
    width: 100%;
    margin: 1.875em auto;
}

#description p {
    line-height: 1.5;
}

#description h2 {
    text-align: center;
}

@media all and (min-width: 860px) {
    #content {
        width: 90%;
        margin: 0 auto;
    }
}
@media all and (max-width: 540px) {
    .custom-section-full .custom-row,
    .custom-section-full .custom-row.row-reverse {
        flex-direction: column;
    }

    .custom-section-full .custom-col {
        width: 100%;
    }
}