:root {
    --font-heading-weight: 700;

    --dark-grey: #393e46;
    --medium-grey: #D1D3D3;
    --light-grey: #F4F4F4;
    --orange: #FF8A00;
    --red: #ff5f3d;
    --green: #27c686;
    --white: #ffffff;
    --box-shadow: 20px 0 60px rgb(14 27 56 / 15%);
    --transition: all .25s ease-in-out;
}

.banner__buttons .button.button--primary {
    background-color: var(--orange);
    border: 1px solid var(--orange);
    color: var(--white);
    font-weight: 700;
    border-radius: 6px;
    padding: 15px 30px;
    transition: var(--transition);
}

.banner__buttons .button:before,
.banner__buttons .button:after {
    content: none;
}

.banner__buttons .button.button--primary:hover {
    transform: scale(1.05);
    transition: var(--transition);
}

footer .list-social__item .list-social__link {
    color: var(--orange);
}


header .header__active-menu-item {
    text-decoration: none;
}

header .header__active-menu-item:hover {
    text-decoration: underline;
}