/* FOUNDATION */
.vce-row[data-vce-stretch-content=true],
.vce-row[data-vce-full-width=true] {
    padding: 0!important;
}

* {
    box-sizing: border-box;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: justify;
}


.hs-error-msg {
    color: red;
    padding-left: 5px;
}

.custom-blog.custom-section {
    width: 100%;
    margin: 0 auto;
    background-color: var(--white);
}

.custom-blog .custom-row {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--white);
}

.custom-blog .custom-row.first-row {
    max-width: 700px;
    padding-top: 60px;
}

.first-row p {
    text-align: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-col a {
    font-size: 14px;
    line-height: 2;
}

/* FONTS */

.custom-section .custom-row h1,
.custom-section .custom-row h2,
.custom-section .custom-row h3,
.custom-section .custom-row h4,
.custom-section .custom-row h5,
.custom-section .custom-row a,
.custom-section .custom-row ul li,
.custom-section .custom-row ol li,
.custom-section .custom-row p {
    font-family: Poppins;
}


h1 {
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    margin-bottom: 16px;
}

h2 {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 16px;
    margin-top: 60px;
    text-align: left;
}

h3 {
    font-weight: 700;
    font-size: 22px;
    color: #00000095;
}

h4 {
    font-weight: 700;
    font-size: 20px;
}

h5 {
    font-weight: 700;
    font-size: 18px;
}

p,
strong {
    font-size: 14px;
    margin: 16px 0;
}

.custom-section .custom-row p {
    text-align: left;
}

a {
    text-decoration: none;
    color: var(--purple);
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

img:not(.sunday-nav-logo) {
    margin: 20px 0;
}

ul,
ol {
    margin: 20px 0;
}

ul li,
ol li {
    font-family: Poppins;
    font-size: 14px;
    line-height: 2;
    margin-bottom: 10px;
}

li::marker {
    font-weight: 700;
}

ul li::before {
    content: "\2022";
    color: var(--purple);
    font-weight: 700;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.large-text {
    font-size: 26px;
    font-weight: 700;
}

/* INLINE FORM */
.inline-form-above-form h4 {
    text-align: center;
}

/* BUTTONS */
.custom-blog .btn {
    display: flex;
    max-width: fit-content;
    margin: 0 auto 8px auto;
    padding: 13px 23px;
    border-radius: 6px;
    color: var(--white);
    background-color: var(--black);
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    transition: all .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a:hover {
    text-decoration: none!important;
}

.primary-btn {
    transition: var(--transition);
}

.primary-btn:hover {
    text-decoration: none;
    transition: var(--transition);
    transform: scale(1.05);
}

.custom-blog .btn:hover {
    text-decoration: none;
    background-color: var(--purple);
    transition: all .25s ease-in-out;
    transform: scale(1.05);
}

/* CTA SECTION */
.custom-blog.cta-section {
    text-align: center;
    background-color: var(--purple);
}

.custom-blog.cta-section .custom-row {
    background-color: transparent;
    color: var(--white);
    padding: 60px 0;
}

.custom-blog.cta-section .btn:hover {
    background-color: var(--green);
}

.custom-blog.cta-section .custom-row {
    margin-bottom: 0;
}

.custom-blog.cta-section h2 {
    text-align: center;
}

.custom-section:nth-child(1) {
    background-color: var(--light-grey);
}

.custom-section .flexb-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
}

.custom-section .flexb-row .col {
    width: 50%;
}


@media all and (max-width: 540px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 24px;
        text-align: left;
    }

    h3 {
        font-size: 20px;
        text-align: left;
    }

    h4 {
        font-size: 18px;
        text-align: left;
    }

    h5 {
        font-size: 16px;
        text-align: left;
    }
    ul,
    ol,
    ul li,
    ol li {
        text-align: left;
    }
    .custom-blog .custom-row .large-text {
        font-size: 18px;
    }
    .custom-blog .custom-row {
        padding: 0 30px;
    }
    .custom-blog .custom-row:not(p) {
        text-align: left;
    }
    .custom-blog .custom-row.first-row {
        padding-top: 20px;
    }
    .inline-form-inner {
        padding: 20px;
    }

    p.inline-form-headline {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .inline-form-above-form {
        margin-bottom: 10px;
    }

    .inline-form-wrapper .inline-form-inner .inline-form-hs .hbspt-form .hs-button.primary.large {
        font-size: 14px!important;
        text-transform: capitalize!important;
    }
    .onboarding-table-wrapper td,
    .onboarding-table-wrapper th {
        text-align: left;
    }
    .custom-blog.cta-section .custom-row {
        padding: 60px 30px;
    }
    .custom-blog.cta-section h2 {
        font-size: 20px;
    }

    .custom-section .flexb-row {
        flex-direction: column;
        max-width: 700px;
        padding: 30px 30px 0 30px; 
    }

    .custom-section .flexb-row .col:nth-child(1) {
        display: none;
    }

    .custom-section .flexb-row .col:nth-child(2) {
        width: 100%;
    }
}