:root {
    --purple: #702dbd;
    --green: #44d62c;
    --yellow: #ffdd00;
    --orange: #ff6720;
    --blue: #62b5e5;
    --dark-grey: #98999b;
    --light-grey: #f5f5f5;
    --white: #fff;
    --black: #000;
    --black-2: #222;
    --black-3: #333;
    --xmas-green: #01907e;
    --transition: all .25s ease-in-out;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

#hero {
    background-color: var(--light-grey);
    color: var(--black);
}

#hero.custom-section {
    display: flex;
    justify-content: center;
}

#hero.custom-section .custom-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

#hero.custom-section .custom-row h1,
#hero.custom-section .custom-row p,
#hero.custom-section .custom-row a {
    font-family: Poppins;
    color: var(--black);
}

#hero.custom-section .custom-row h1 {
    font-weight: 700;
    font-size: 32px;
}

#hero.custom-section .custom-row .primary-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 13px 23px;
    border-radius: 6px;
    background-color: var(--black);
    color: var(--white);
    border: 1px solid var(--black);
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    transition: var(--transition);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#hero.custom-section .custom-row .primary-btn.ghost-btn {
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
}

#hero.custom-section .custom-row .primary-btn:hover {
    background-color: var(--purple);
    color: var(--white);
    border: 1px solid var(--purple);
    transition: var(--transition);
    transform: scale(1.05);
}

#hero.custom-section .custom-row .btn-wrapper {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}