.client-quote p {
	color: var(--purple);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.wrapper h4 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    color: var(--black);
    position: absolute;
    top: 15%;
    left: 25%;
    text-align: center;
}

.wrapper h5 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 26px;
    color: var(--purple);
    margin-bottom: 20px;
}

.wrapper {
    position: relative;
    color: var(--black);
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 240px;
    margin-bottom: 200px;
}

.line-area {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--black);
    position: absolute;
    top: 50%;
}

.wrapper .timeline-area {
    height: 100%;
}

.single-item {
    width: 7%;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-right: 40px;
    transition: width .5s;
    z-index: 1;
}

.single-item > .steps-toggle {
    height: 32px;
    display: block;
    font-weight: 400;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    width: 100%;
    cursor: pointer;
}

.single-item > .steps-toggle:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-color: var(--black);
    margin: 0 auto 8px auto;
    border-radius: 50%;
    transition: width .5s;
}

.single-item > .steps-toggle.active:before {
    width: 32px;
    height: 32px;
    background-color: var(--purple);
    margin-top: -8px;
    transition: width .5s;
}

/* 

Add width 15% to active parent

*/

.wrapper .timeline-body {
    width: 60%;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--purple);
    border-radius: 20px;
    box-shadow: 0 7px 7px 0 rgb(34 43 55 / 15%);
}


:root {
    --black: #000;
    --purple: #702dbd;
}