:root {
    --transition: all .25s ease-in-out;
}

* {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.2;
}

ul li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}

#counter-section {
    background-color: #62b5e570;
}

#counter-section .custom-row {
    max-width: 60%;
}

#counter-section .custom-row .custom-col {
    text-align: center;
}

#cta-section {
    background-color: var(--light-grey);
}

#cta-section .custom-row {
    margin: 0 auto;
    padding: 80px 0;
}

#goforest-logo {
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

.custom-section-full .custom-row p {
    max-width: none;
}

.vce-row[data-vce-stretch-content=true] {
    padding: 0!important;
}

.custom-section-full {
    width: 100%;
    max-width: none;
    margin: 0 auto;
    background-color: var(--white);
}

.custom-section-full .custom-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 20px 0;
}

.custom-section-full .custom-row.white-text {
    color: var(--white);
}

.custom-section-full .custom-row.row-reverse {
    flex-direction: row-reverse;
}

.small-headline.above {
    margin-top: 30px;
}

.custom-section-full .custom-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 30px;
}

.custom-section-full .custom-row .blue-btn,
.custom-section-full .custom-row .custom-btn {
    display: flex;
    max-width: fit-content;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 13px 23px;
    border-radius: 6px;
    background-color: transparent!important;
    color: var(--blue)!important;
    border: 1px solid var(--blue)!important;
    font-size: 14px;
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: normal;
    cursor: pointer;
    transition: var(--transition);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-section-full .custom-row .blue-btn:hover,
.custom-section-full .custom-row .custom-btn:hover {
    color: var(--white)!important;
    background-color: var(--blue)!important;
    border: 1px solid var(--blue)!important;
    transition: var(--transition);
}

.custom-section-full .custom-row .custom-col .blue-btn.center {
    margin: 20px auto 0 auto;
}

.custom-section-full h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 15px;
}

.custom-section-full h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

.custom-section-full h3 {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 15px;
}

.custom-section-full p:not(.counter) {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.custom-section-full .small-headline {
    margin-bottom: 0!important;
}

.custom-section-full a {
    font-size: 14px;
    font-weight: 700;
    transition: var(--transition);
}

.custom-section-full a:hover {
    transition: var(--transition);
}

.custom-section-full .custom-row.platform-counter {
    color: var(--white);
}

.custom-section-full .custom-row.platform-counter .description {
    font-size: 22px;
    font-weight: 700;
}

.custom-section-full .custom-row.platform-counter .counter {
    font-size: 50px;
    font-weight: 700;
}

.custom-section-full img {
    max-width: 600px;
    height: auto;
}

.custom-section-full.first-section {
    background: url("https://teamsunday.com/wp-content/uploads/2022/03/Sustainability-at-Sunday.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

.custom-section-full .custom-row.center-text {
    text-align: center;
}

.custom-section-full .custom-row.one-col-row .custom-col {
    width: 100%;
}

/* GENERAL FULL WIDTH */
.custom-section-full.full-width-content .custom-row {
    width: 100%;
    align-items: flex-start;
    align-items: center;
}

.custom-section-full.full-width-content .custom-row .custom-col:nth-child(1) {
    padding-left: 0;
    padding-right: 0;
}

.custom-section-full.full-width-content .custom-row.custom-row.row-reverse .custom-col:nth-child(1) {
    padding-right: 0;
}

.custom-section-full.full-width-content .custom-row .custom-col img {
    max-width: none;
    height: auto;
}

.custom-section-full .custom-row.m-t-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.custom-section-full .custom-row.p-t-0 {
    padding-top: 0;
    padding-bottom: 0;
}

.mySlides1, 
.mySlides2 {
    display: none
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, 
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, 
.next:hover {
    background-color: #f1f1f1;
    color: black;
}

.custom-section-full .custom-btn {
    width: fit-content;
    display: flex;
    padding: 13px 23px;
    border-radius: 6px!important;
    background-color: var(--black)!important;
    color: var(--white);
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    margin: 10px auto 30px auto;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    transition: all .25s ease-in-out;
}

.custom-section-full.contact-section {
    background-color: var(--green);
}

.custom-section-full.custom-section-full.contact-section h3 {
    color: var(--white);
}

.custom-section-full .custom-row.platform-counter .custom-row {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

@media all and (max-width: 540px) {
    .custom-section-full h1 {
        font-size: 32px;
    }

    .custom-section-full {
        width: 100%;
    }

    .custom-section-full .custom-row {
        width: 100%;
        flex-wrap: wrap;
    }

    .custom-section-full .custom-col {
        width: 100%;
        margin: 0;
    }

    .custom-section-full .custom-row {
        padding: 0;
    }

    .custom-section-full .custom-row .custom-col .small-headline {
        margin-bottom: 0;
    }

    .custom-section-full img {
        margin: 20px 0;
    }

    .custom-section-full .custom-col.p-0-sm {
        padding: 0;
    }
}

@media all and (max-width: 860px) {
    #step-1,
    #step-2,
    #step-3,
    #step-4 {
        font-size: 16px;
    }

    .custom-section-full img {
        max-width: 250px;
    }

    .custom-section-full.platform-counter .counter {
        font-size: 40px;
    }

    .custom-section-full.platform-counter .description {
        font-size: 18px;
    }

    .custom-section-full.contact-section img {
        width: 80px;
    }
}

@media all and (max-width: 1400px) and (min-width: 870px) {
    .custom-section-full img {
        max-width: 300px;
    }
}

@media all and (min-width: 1600px) {
    .custom-section-full.contact-section .custom-row {
        width: 70%;
    }

    .custom-section-full .custom-row {
        max-width: 1600px;
    }

    .custom-section-full.contact-section .custom-row {
        max-width: 1600px;
    }

    .first-row {
        margin: 40px auto!important;
    }

}