/* Mega Menu */
#header-btn {
    background-color: var(--purple)!important;
    padding: 6px 12px;
    transition: all .25s ease-in-out;
}
#header-btn:hover {
	background-color: var(--black)!important;
	transition: all .25s ease-in-out;
}
.topnav {
    overflow: hidden;
    background-color: #fff!important;
    color: #3e3d3d;
    border-bottom: 1px solid #f5f5f5;
    max-width: 100%!important;
    box-shadow: 0 4px 2px -2px rgb(0 0 0 / 5%);
}
.main-dropdown-wrapper {
    width: 100%!important;
}

.features-left-col.dropdown-col.products-col,
.features-right-col.dropdown-col.products-col {
    width: 100%;
}

.contact-bar {
    background-color: var(--light-grey);
    width: 100%;
}

.contact-bar-content {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    padding: 5px;
}

.contact-bar-content a {
    margin: 0 10px;
    color: var(--dark-grey);
    font-size: 14px;
}

.contact-bar-content a:hover {
    transform: scale(1.05);
    transition: all .25s ease-in-out;
}

.contact-bar-content a:nth-child(1) {
    margin-left: 0;
    padding-left: 16px;
}

.products-content .dropdown-menu-item h5 {
    font-weight: 400;
    font-size: 12px;
}

.products-content .dropdown-menu-item {
    padding: 2px 0 0 10px;
}

.nav-item.dropdown-btn.active {
    color: var(--purple)!important;
    font-weight: 700!important;
}

.nav-div {
    max-width: 90%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 10px 0;
}
.nav-item {
    display: inline-block!important;
    position: relative;
}
.left-nav-col {
    width: 70%;
    float: left;
}
.right-nav-col {
    width: 30%;
    float: right;
    text-align: right;
}
.topnav a:not(.nav-logo):not(.subitem):not(.see-all-features):not(.right-col-read-more):not(.featured-item-wrapper-link) {
    display: block;
    color: #3e3d3d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
.topnav a:hover:not(.nav-btn):not(.see-all-features) {
    background-color: #fff;
    color: #712dbe!important;
}
.topnav a.active {
    color: white;
}
.subitem {
    color: #3e3d3d;
}
.subitem:hover,
.see-all-features:hover {
    text-decoration: none;
}
.hamburger-wrapper {
    display: none;
}
.sunday-nav-logo {
    width: 125px;
    height: auto;
    float: left;
    padding: 16px 16px;
}
.nav-btn {
    padding: 13px 23px;
    border-radius: 6px !important;
    background: #000!important;
    border: none;
    box-shadow: none;
    color: #fff!important;
}
.nav-btn:hover {
    background-color: #712dbe!important;
    color: #fff!important;
}
.fa {
    padding-left: 5px;
}
.dropdown-content,
.hamburger-icon,
.hamburger-menu {
    display: none!important;
}
.dropdown-content a {
    text-align: left!important;
}
.see-all-features {
    text-align: left!important;
    position: absolute;
    bottom: 10px;
}
#whysundaydropdown.show,
#soldropdown.show,
#resourcesdropdown.show,
#fashiondropdown.show {
    display: block!important;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    min-height: fit-content;
}
#whysundaydropdown.hidden,
#soldropdown.hidden,
#resourcesdropdown.hidden,
#fashiondropdown.hidden {
    display: none;
    border: none!important;
}
.dropdown-btn {
    all: unset!important;
}
/* Dropdown button styling */
.dropdown-btn {
    color: #3e3d3d!important;
    text-align: center!important;
    padding: 14px 16px!important;
    text-decoration: none!important;
    font-size: 14px!important;
}
.dropdown-btn:hover {
    background-color: #fff;
    color: #712dbe!important;
    cursor: pointer!important;
}
.small-menu-wrapper {
    display: none;
}
.small-menu-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 90%!important;
    margin: 0 auto;
    padding-bottom: 30px;
    border-top: 1px solid #712dbe50;
}
.sunday-nav-logo {
    width: 125px;
    height: auto;
    float: left;
    padding: 16px 16px;
}
.small-menu-content a {
    color: #3e3d3d;
    font-size: 14px;
    text-decoration: none;
}
.small-menu-content a:hover {
    color: #712dbe;
    text-decoration: underline;
}
.small-nav-item {
    padding: 10px 0!important;
    border-bottom: 1px solid #f5f5f5;
    text-align: left!important;
}
.purple-link {
    color: #712dbe!important;
}
@media all and (min-width: 1310px) {
.topnav a,
.dropdown-btn {
    font-size: 14px!important;
}
}
@media all and (min-width: 1110px) and (max-width: 1310px) {
.topnav a,
.dropdown-btn {
    font-size: 10px!important;
}
}
@media all and (max-width: 1110px) {
.nav-item:not(.sticky-nav-btn) {
    display: none!important;
}
.hamburger-icon,
.hamburger-menu {
    display: block!important;
    float: right;
}
}
/* Why Sunday Dropdown */
.sunday-dropdown-wrapper {
    max-width: 100%;
    margin-top: 11px auto 0 auto;
    display: flex;
    min-height: 53vh;
    border-top: 1px solid #712dbe50;
    position: relative;
}
.sunday-dropdown-left-col {
    width: 70%;
    background-color: #fbfdfe;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #f5f5f5;
    border-left: 1px solid #f5f5f5;
}
.sunday-dropdown-right-col {
    width: 30%;
    background-color: #f6f8f9;
    border-left: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
}
.why-sunday-overview,
.features-left-col,
.features-right-col {
    width: auto;
}
.why-sunday-features {
    display: flex;
    margin: 0;
    width: 50%;
}
.dropdown-col:not(:last-child) {
    padding: 0 30px;
    border-right: 1px solid #f5f5f5;
}
.dropdown-col {
    padding: 0 30px;
}
.last-content {
    padding-bottom: 20px;
}
.dropdown-menu-item {
    padding: 10px;
}
.dropdown-menu-item:hover {
    background-color: #f5f5f5;
    transition: all .15s ease-in-out;
    cursor: pointer;
}
.dropdown-menu-item-white {
    padding: 10px;
}
/* .dropdown-menu-item-white:hover {
    background-color: #fff;
    transition: all .15s ease-in-out;
    cursor: pointer;
} */
/* .dropdown-menu-item-white:hover > h5, */
.dropdown-menu-item:hover > h5,
.dropdown-menu-item:hover > a {
    color:#712dbe;
    transition: all .15s ease-in-out;
}

/* .dropdown-menu-item-white:hover > p, */
.dropdown-menu-item:hover > p {
    color: #000;
    transition: all .15s ease-in-out;
}
/* .dropdown-menu-item-white:hover > a {
    color: #712dbe;
    transition: all .15s ease-in-out;
} */
.purple-popular-tag {
    font-size: 10px;
    text-transform: uppercase;
    background-color: #712dbe;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    margin-left: 7px;
}
.green-popular-tag {
    font-size: 10px;
    text-transform: uppercase;
    background-color: #44d62d;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    margin-left: 7px;
}
.careers-tag {
    font-size: 8px;
}

.blue-popular-tag {
    font-size: 10px;
    text-transform: uppercase;
    background-color: var(--blue);
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    margin-left: 7px;
}

/* Fonts */
.sunday-dropdown-wrapper {
    font-family: 'Poppins';
}
.sunday-dropdown-wrapper h4 {
    font-size: 16px;
    font-weight: 700;
    color: #222;
    text-transform: capitalize;
    padding: 40px 10px 20px 10px;
}
.sunday-dropdown-wrapper h5 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
}
.sunday-dropdown-wrapper p {
    font-size: 12px;
    font-weight: 400;
    max-width: 220px;
}
.sunday-dropdown-wrapper a {
    font-size: 12px;
    font-weight: 600!important;
    text-decoration: none;
}
.show {
    display: block;
}
.show-small-menu {
    display: block!important;
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
}
.active-nav-item a {
    color: #712dbe!important;
}
.small-menu-cta {
    display: flex;
}
/* BIG MONITORS */
@media all and (min-width: 1600px) {
.topnav {
    max-width: 1600px;
    margin: 0 auto;
}
.nav-div,
.main-dropdown-wrapper {
    max-width: 1600px;
}
}  

/* STICKY BAR */
.sticky-announce-wrapper {
    max-width: 100%;
    background-color: #712dbe;
    display: none;
}
.sticky-announce-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    padding-bottom: 5px;
    margin: 0 auto;
    color: #fff;
}
.left-col-announce {
    padding-left: 16px;
    margin-right: 20px;
}
.left-col-announce p {
    font-size: 12px;
    font-weight: 700;
}
.right-col-announce {
    margin-left: 20px;
}
#sticky-nav-btn {
    background-color: #fff!important;
    color: #000!important;
    padding: 3px 5px 3px 5px;
    font-size: 12px!important;
    transition: all .2s ease-in-out;
}
#sticky-nav-btn:hover {
    background-color: #000!important;
    color: #fff!important;
    transition: all .2s ease-in-out;
}
@media all and (max-width: 540px) {
.left-col-announce {
    margin-right: 10px;
}
.right-col-announce {
    margin-left: 10px;
}
.left-col-announce p {
    font-size: 10px;
}

.contact-bar-content a {
    font-size: 10px;
}

.small-menu-cta {
    flex-direction: column;
}

#sticky-nav-btn {
    font-size: 10px!important;
}
}

.featured-item-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-radius: 6px;
    padding: 10px;
    transition: all .25s ease-in-out;
}
.featured-item-wrapper p {
    color: #222;
}
.featured-item-wrapper:hover {
    transform: scale(1.05);
    transition: all .25s ease-in-out;
}
.featured-item-wrapper:not(:first-child) {
    margin-top: 10px;
}
.featured-item-wrapper img {
    max-width: 150px;
}
.featured-left-col {
    margin-right: 10px;
}
.featured-right-col {
    margin-left: 10px;
}
.small-headline {
    color: #848f99!important;
    font-size: 14px;
    text-transform: uppercase;
}
.right-col-read-more {
    font-size: 12px!important;
}

/* SMALL MENU */
.small-menu-content,
.flex-menu,
.second-dropdown-sm {
    display: flex;
    flex-direction: column;
}
.small-dropdown-content p {
    color: #000000;
    font-size: 14px;
    font-weight: 700;
}
.small-dropdown-content a {
    color: #000000;
    font-size: 12px;
}
.first-dropdown-sm a,
.second-dropdown-sm a {
    color: #000;
    font-size: 14px;
    text-align: left!important;
}
.first-dropdown-sm {
    font-weight: 700;
}
.small-nav-item {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
.purple-popular-tag {
    font-size: 10px;
    text-transform: uppercase;
    background-color: #712dbe;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    margin-left: 7px;
}
.active-nav-item-sm {
    background-color: #fff;
    color: #712dbe!important;
    box-shadow: 0 30px 50px 0 rgb(36 50 66 / 10%);
}
.hidden {
    display: none!important;
}