.custom-section-full .custom-row h1 {
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    color: var(--black);
    font-size: 32px;
}

.row-section .breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-section .breadcrumb a,
.row-section .breadcrumb p {
    margin: 0!important;
    font-weight: 700!important;
}

.row-section .contact-box {
    background-color: var(--purple);
    border-radius: 9px;
    color: var(--white);
    padding: 30px;
    margin-top: 20px;
    width: 75%;
}

.row-section .contact-box a {
    color: var(--white);
}

.row-section ul {
    margin-left: 20px;
    font-size: 14px;
}

.row-section ul li::marker {
    color: var(--purple);
}

#job-post-page .custom-row {
    align-items: flex-start;
    margin-top: 20px;
}

#job-post-page .custom-row .custom-col:nth-child(1) {
    width: 60%;
}
#job-post-page .custom-row .custom-col:nth-child(2) {
    width: 40%;
}

.form-left {
    margin-left: 0!important;
    padding-left: 0!important;
}


#job-post-page.custom-section-full .custom-row .contact-box .white-btn.custom-btn {
    background-color: var(--white)!important;
    color: var(--purple)!important;
    margin-bottom: 0;
}

#job-post-page .contact-box h3 {
    font-size: 16px;
}