:root {
    --box-shadow: 0 7px 7px 0 rgb(34 43 55 / 15%)
}


.custom-section-full .filter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.custom-section-full .custom-row .filter-wrapper label {
    margin-bottom: 0;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 700;
}

.custom-section-full .custom-row .filter-wrapper select {
    border: none;
}

.custom-section-full .custom-row .filter-wrapper select:focus-visible {
    border: 2px solid var(--purple);
    border-radius: 6px;
}



.custom-section-full .custom-row h1 {
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    color: var(--black);
}

.custom-section-full .custom-row.center-text {
    text-align: center;   
}

#job-offers.custom-section-full {
    background-color: var(--light-grey);
}

.custom-section-full .custom-row .job-post {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    justify-content: center;
    margin: 0 20px;
    border-radius: 9px;
    box-shadow: var(--box-shadow);
}

.custom-section-full .custom-row .job-post img {
    width: 100%;
    height: auto;
}

.custom-section-full .custom-row .job-post h3 {
    font-size: 18px;
}

.custom-section-full .custom-row .job-post h3,
.custom-section-full .custom-row .job-post a {
    margin: 20px 10px;
}