#header,
#footer {
    background-color: var(--white);
    margin: unset;
    padding: unset;
    border-bottom: 3px solid rgb(0 0 0 / 6%);
}

#header .row,
#footer .row {
    margin: unset;
    padding: 30px 0; 
}

#header .logo,
#footer .logo {
    max-width: 150px;
    height: auto;
}

#footer {
    border-top: 3px solid rgb(0 0 0 / 6%);
    border-bottom: none;
}

@media all and (max-width: 540px) {
    #header .row,
    #footer .row {
        margin: 0;
        padding: 20px;
    }

    #header .row img,
    #footer .row img {
        margin: 0;
    }
}