.section h1,
.section h2,
.section h3,
.section p,
.section a {
    text-align: left;
}

.section h1 {
    font-size: 36px;
}

.section h2 {
    font-size: 26px;
}

.section h3 {
    font-size: 22px;
}

.section p {
    font-size: 16px;
}

.section .row {
    align-items: flex-start;
}

.section table {
    margin-bottom: 30px;
}

#header,
#footer {
    background-color: var(--black);
}