{% assign current_variant = product.selected_or_first_available_variant %}
  <div class="inventoryNote form__label">
  {% if current_variant.available %}
    We have {{ current_variant.inventory_quantity }} items in stock
    {% endif %}
</div>