html {
    scroll-behavior: smooth;
}

#hero-section {
    background-color: var(--light-grey);
}

#hero-section .custom-row {
    margin-top: 0;
    padding-top: 0;
}

#hero-section .custom-row .custom-col:nth-child(1) {
    width: 60%;
}

#hero-section .custom-row .custom-col:nth-child(2) {
    width: 40%;
}

.custom-section-full .custom-row h1 {
    color: var(--black);
    position: unset;
    top: unset;
    left: unset;
    width: 100%;
    font-size: 42px;
}

.custom-section-full .custom-row ul li {
    font-size: 14px;
}

.custom-section-full .custom-row ul li::marker {
    color: var(--purple);
}

.custom-section-full .custom-row .custom-col:nth-child(1) {
    position: relative;
}

.custom-section-full .custom-row .custom-col:nth-child(1) #arrow {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 400px;
    z-index: 1;
    opacity: 0.15;
}

.custom-section-full .client-logos-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 60%;
    z-index: 3;
}

.custom-section-full .client-logos-wrapper img {
    flex: 1 1 auto;
    max-width: 140px;
    height: auto;
    margin: 10px 20px 10px 0px
}

#gallery.custom-section-full .custom-row {
    width: 100%;
}

#gallery.custom-section-full .custom-row .flex-row img {
    max-width: 25%;
    height: auto;
}

#gallery.custom-section-full .custom-row .flex-row {
    display: flex;
    flex-direction: row;
}





@media all and (max-width: 540px) {
    .custom-section-full .custom-row .custom-col:nth-child(1) {
        position: unset;
    }

    .custom-section-full .custom-row .custom-col:nth-child(1) #arrow {
        display: none;
    }
}